# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build / output folders (if using build tools)
dist/
build/

# Optional: VSCode settings
.vscode/

# Optional: Mac system files
.AppleDouble
.LSOverride

# Optional: coverage folder if using testing tools
coverage/

# Uploads
uploads/
